body {
    background-color: #000000;
    scroll-behavior: smooth;
    margin: 0; /* Ensure no default margin */
    padding: 0; /*
    pos Ensure no default padding */
  /* Default font to 'origin' */

  position: relative;
}

@font-face {
    font-family: 'origin';
    src: url('./assets/font/origin.otf') format('opentype'),
         url('./assets/font/origin2.ttf') format('truetype');
 
}
@font-face {
    font-family: 'earth';
    src: url('./assets/font/earth.otf') format('opentype');
        
 
}
@font-face {
    font-family: 'fs_lite';
    src: url('./assets/font/atom.otf') format('opentype');
        
 
}

.hero {
    background-image: url('./assets/images/girls.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ensure the image covers the entire container */
}

.nav {
    z-index: 10000; /* Corrected z-index */
}


.origin {
    font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.atom {
    font-family: 'atom', sans-serif; /* Fallback to sans-serif */
}
 .gre{
    background: conic-gradient(
        rgb(6, 236, 6) 0deg,
        rgb(4, 238, 4) 90deg,
        rgb(100, 196, 11) 90deg,
        #2bff00 270deg,
        rgb(41, 146, 41) 270deg,
        green 360deg
      );

 }

 .loader{
z-index: 200 !important;

animation: load 5s ease-in-out forwards;

 }

 @keyframes load {

    0% {
        opacity: 1;
        visibility: visible;
        overflow: hidden;
      }
      100% {
        opacity: 0;
        visibility: hidden;
        overflow:visible ;
      }
 }
 /* .about{
background-image: url(./assets/images/bg.jpg);
background-color: #000000af;
background-repeat: no-repeat;
background-position: top;
background-size: cover; 

 } */
 /* .about::before{
content: "";
position: absolute;
width:100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.404);


 } */